!!!
html
  head
    - var title = title || "";
    title Queez.es #{title}
    //- Nice fonts
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cantarell&subset=latin", type="text/css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js")
    script(src="/js/script.js")
  body
    #container
      #topbar
        #logo
          a(href="/")
            img(src="/img/logo.png", alt="Queez.es")
        #loginbox
          - if(this.user_name)
            span Hi, #{this.user_name}
            \n
            a(href="/logout")
              | Logout (This is not you?)
          - else
            a(href="/login") Who are you?
        .clearbox
      #contents!= body
        .clearbox
      #footer &copy;2010 Chris Chua
