h1 #{quiz.name} (#{quiz.short_name}) Quiz
form#quiz
  ul
    - each questionorder in questionorders
      li
        .head= questionorder.question.content
          ul
            li
              input(type="text")
