@import url("reset.css");

/*
778000, B4BF00, FFF650, 033540, 26DAE6
*/
.rounded_corners (@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.clearbox {
  clear: both;
}

@fontsize: 16px;
@lineheight: 20px;
@darkyellow: #778000;
@brightyellow: #FFF650;
@midyellow: #B4BF00;
@darkblue: #033540;
@lightblue: #26DAE6;

/*
Line  is probably 18px
*/

body {
  font: @fontsize 'Cantarell', "Helvetica Neue Light", "HelveticaNeue-Light", Arial, Helvetica, serif;
  width: 940px;
  margin: 0 auto;
  background: #033540;
  line-height: @lineheight;
}

a {
  color: #fff;
}

a img {
  border: 0;
}

#logo {
  float: left;
}

#loginbox {
  float: right;
  font-size: 0.75 * @fontsize;
  a {
    color: @brightyellow;
  }
}

#container {
  padding: 0 10px;
  color: #fff;

  h1 {
    margin-left: 10px;
    font-size: 2*@fontsize;
    line-height: 2*@lineheight;
    text-decoration: underline;
    text-shadow: 1px 1px #ccc;
  }
}

#contents {
  background: #26DAE6 url(../img/bg.gif);
  .rounded_corners(10px);
  padding: 0.5*@lineheight;
  color: #000;
  a {
    color: @darkblue;
  }
}

#footer {
  padding: 0.5*@lineheight 0.5*@lineheight 0 0.5*@lineheight;
}

.leftarea, #quizzes, form#quiz {
  background: #eee;
  .rounded_corners(10px);
  width: 535px;
  padding: 0.5*@lineheight;
  float: left;

  ul, ol {
    color: #999;
    margin: 0;
    padding: 0;
    li {
      padding: 0.5*@lineheight @lineheight;
      position: relative;
    }
    h3 {
      display: inline;
      font-weight: normal;
      color: #000;
      font-size: 1.5*@fontsize;
      line-height: @lineheight * 2;
    }
    span {
      color: #000;
    }
  }
  ol {
    list-style-position: inside;
    list-style-type: decimal;
  }
  ul.quizzes, ol.questions {
    > li {
      border-bottom: 1px solid #ccc;
      padding-bottom: (0.5*@lineheight) - 1;
    }
    > li:hover {
      background: #fff;
      .rounded_corners(5px);
    }
  }
  ol.answers {
    list-style-type: none;
    li {
      margin-left: 20px;
      padding: 0;
      .rounded_corners(5px);
      // padding: 0.5em;
    }
    li:hover {
      background: @brightyellow;
    }
    li:active, li.chosen {
      label, .fakelabel {
        .rounded_corners(5px);
        border: 4px #ccc dotted;
        padding: (0.5*@lineheight) - 4;
      }
    }
    span {
      color: @darkblue;
    }
    label, .fakelabel {
      display: block;
      padding: 0.5*@lineheight;
      span {
        padding-left: 0.5*@lineheight;
      }
    }
    li.open-ended:active, li.open-ended.chosen {
      label, .fakelabel {
        padding: (0.5*@lineheight - 4 - 2) 0.5*@lineheight - 4 (0.5*@lineheight - 4 - 2) (0.5*@lineheight + 25px - 4px);
      }
    }
    li.open-ended label, li.open-ended .fakelabel {
      padding: (0.5*@lineheight - 2) 0.5*@lineheight (0.5*@lineheight - 2) (0.5*@lineheight + 25px);
    }
  }
  input[type=radio] {
    display: block;
    float: left;
    margin: 0;
    height: 20px;
    width: 20px;
  }

  input[type=text], .fakeinputtext {
    display: block;
    color: @darkblue;
    border: 1px solid #ccc;
    padding: 1px;
    width: 100%;
    font-size: @fontsize;
    height: @lineheight;
    font-family: 'Cantarell', "Helvetica Neue Light", "HelveticaNeue-Light", Arial, Helvetica, serif;
  }

  input[type=submit] {
    display: block;
    width: 100%;
    border: 4px solid @brightyellow;
    padding: @lineheight/2 - 4;
    .rounded_corners(5px);
    font-size: 1.5*@fontsize;
    height: 3*@lineheight;
    background: @midyellow;
    margin-top: @lineheight / 2;
  }
  input[type=submit]:active {
    background: @brightyellow;
    border: 4px solid @midyellow;
  }

  .controlsbox {
    position: absolute;
    top: 0px;
    right: 0px;

    button, label {
      display: block;
      float: left;
      padding: 0;
      font-size: .75*@fontsize;
      border: 1px solid black;
      height: @lineheight;
      width: @lineheight;
      background: #fff;
      margin-left: @lineheight/2;
      color: #000;
    }
    label {
      width: auto;
    }
  }
}

#updownbar {
  float: left;
  margin-left: 10px;
}

#infobar {
  background: #033540;
  .rounded_corners(10px);
  width: 274px;
  float: right;
  color: @brightyellow;
  line-height: @lineheight * 1.5;
  padding: @lineheight;
  a {
    color: @brightyellow;
  }
}
